.app--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app--title {
  color: #2F3C88;
  font-size: 28px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3rem;
}

.app--input-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}